*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
    font-family: sans-serif;
}

body {
    min-height: 100%;
    background-color: $light;
    color: $dark;
    position: relative;
    font: 300 1.15rem/1.625 'Proxima Nova', sans-serif;
}

.section {
    &__container {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        padding: $delimiter*2 0;
        opacity: 0;
    }
}

#page {
    &-header,
    &-footer {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 100;
    }
    &-header {
        top: 0;
        height: 60px;
        padding: 15px 0;
    }
    &-footer {
        bottom: 0;
        height: 120px;
        background-color: $light;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}